# Dependencies
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist
build

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Tests
coverage

# Misc
.git
.gitignore
README.md
CHANGELOG.md
LICENSE
run.cmd
*.md
